<div>
    <div style="display: block;">
      <canvas baseChart
        [data]="revenueChartData"
        [options]="revenueChartOptions"
        [legend]="revenueChartLegend"
        [type]="revenueChartType">
      </canvas>
    </div>
    <div style="display: block;">
      <canvas baseChart
        [data]="ordersChartData"
        [options]="ordersChartOptions"
        [legend]="ordersChartLegend"
        [type]="ordersChartType">
      </canvas>
    </div>
    <div style="display: block;">
      <canvas baseChart
        [data]="productsChartData"
        [options]="productsChartOptions"
        [legend]="productsChartLegend"
        [type]="productsChartType">
      </canvas>
    </div>
    <div style="display: block;">
      <canvas baseChart
        [data]="customersChartData"
        [options]="customersChartOptions"
        [legend]="customersChartLegend"
        [type]="customersChartType">
      </canvas>
    </div>
  </div>
  