<h1 class="popup-header">Add Magasin</h1>
<div class="popup-form">
  <form (ngSubmit)="save()" #magasinForm="ngForm">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" [(ngModel)]="newMagasin.nom" name="nom" required class="form-control" />
      <small *ngIf="magasinForm.submitted && !newMagasin.nom" class="error">Nom is required.</small>
    </div>

    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input id="adresse" [(ngModel)]="newMagasin.adresse" name="adresse" required class="form-control" />
      <small *ngIf="magasinForm.submitted && !newMagasin.adresse" class="error">Adresse is required.</small>
    </div>

    <div class="form-group">
      <label for="ville">Ville</label>
      <input id="ville" [(ngModel)]="newMagasin.ville" name="ville" required class="form-control" />
      <small *ngIf="magasinForm.submitted && !newMagasin.ville" class="error">Ville is required.</small>
    </div>

    <div class="form-group">
      <label for="code_postal">Code Postal</label>
      <input id="code_postal" [(ngModel)]="newMagasin.code_postal" name="code_postal" required class="form-control" />
      <small *ngIf="magasinForm.submitted && !newMagasin.code_postal" class="error">Code Postal is required.</small>
    </div>

    <div class="form-group">
      <label for="responsable">Responsable</label>
      <input id="responsable" [(ngModel)]="newMagasin.responsable" name="responsable" required class="form-control" />
      <small *ngIf="magasinForm.submitted && !newMagasin.responsable" class="error">Responsable is required.</small>
    </div>

    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input id="telephone" [(ngModel)]="newMagasin.telephone" name="telephone" required class="form-control" />
      <small *ngIf="magasinForm.submitted && !newMagasin.telephone" class="error">Téléphone is required.</small>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" class="btn save-btn">Save</button>
      <button mat-button type="button" (click)="dialogRef.close()" class="btn cancel-btn">Cancel</button>
    </div>
  </form>
</div>
