/* Dans styles.css ou dans le CSS du composant */
.custom-dialog .mat-dialog-container {
    width: 80%; /* Largeur souhaitée */
    max-width: 900px; /* Largeur maximale */
    height: 80%; /* Hauteur souhaitée */
    max-height: 600px; /* Hauteur maximale */
  }
  