<div class="admin-details-container" *ngIf="adminData">
  <div class="admin-details-content">
    <h2>Admin Details</h2>
    <div class="admin-details">
      <div class="details-text">
        <p>ID: {{ adminData.id }}</p>
        <p>Name: {{ adminData.nom }}</p>
        <p>First Name: {{ adminData.prenom }}</p>
        <p>Gender: {{ adminData.genre }}</p>
        <p>Date of Birth: {{ adminData.date_de_naissance | date:'longDate' }}</p>
        <p>Address: {{ adminData.Addresse }}</p>
        <p>Occupation: {{ adminData.occupation }}</p>
        <p>Social Status: {{ adminData.etat_social }}</p>
        <p>Phone Number: {{ adminData.numero_telephone }}</p>
        <p>Username: {{ adminData.user_name }}</p>
        <p>Email: {{ adminData.email }}</p>
        <p>Roles:</p>
        <ul>
          <li *ngFor="let role of adminData.roles">{{ role.name }}</li>
        </ul>
      </div>
      <div class="details-image" *ngIf="adminData.user_image">
        <p>User Image:</p>
        <img [src]="adminData.user_image" alt="User Image">
      </div>
    </div>
    <div class="admin-actions">
      <button (click)="navigateToUpdateAdmin(adminData.id)">Update Admin</button>
      <button (click)="deleteAdmin(adminData.id)">Delete Admin</button>
    </div>
  </div>
</div>
