<div class="produits-list-container">
  <h2>Liste des Produits</h2>
  <div class="actions-bar">
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="search"
        placeholder="Rechercher un produit"
        class="search-input"
      />
      <button (click)="searchProduits(search)" class="search-button">
        Rechercher
      </button>
    </div>
    <button (click)="navigateToAjouterProduit()" class="add-button">
      + Ajouter Produit
    </button>
  </div>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="produits.length === 0">
    Aucuns produits disponibles.
  </div>

  <table *ngIf="produits.length > 0" class="admin-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Prix initial</th>
        <th>Référence</th>
        <th>Actions</th>
        <th>Statut</th>
        <th>Mise en avant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits">
        <td>{{ produit.nom_produit }}</td>
        <td>{{ produit.description }}</td>
        <td>{{ produit.prix }}</td>
        <td>{{ produit.prix_initial }}</td>
        <td>{{ produit.references }}</td>
        <td class="actions-cell">
          <button
            (click)="openDialog(produit.id)"
            class="action-button"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button (click)="supprimerProduit(produit.id)" class="action-button">
            <i class="fa fa-trash"></i>
          </button>
          <button (click)="navigateToProduitDetails(produit.id)" class="action-button">
            <i class="fa fa-eye"></i> <!-- Modification ici pour l'icône fa-eye -->
          </button>
        </td>
        <td>
          <button (click)="toggleVisibility(produit.id, produit.isHidden)" [class.active]="produit.isHidden">
            {{ produit.isHidden ? 'Show' : 'Hide' }}
          </button>
        </td>
        <!-- Feature button -->
        <td>
          <button (click)="toggleFeature(produit.id, produit.isFeatured)" [class.active]="produit.isFeatured">
            {{ produit.isFeatured ? 'Unfeature' : 'Feature' }}
          </button>
        </td>
        
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="pagination-button"
    >
      Précédent
    </button>
    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="pagination-button"
    >
      Suivant
    </button>
  </div>
</div>
