<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>

<div *ngIf="produits.length === 0">
  Aucuns produits disponibles.
</div>

<ul *ngIf="produits.length > 0">
  <li *ngFor="let produit of produits">
    <h2>{{ produit.nom_produit }}</h2>
    <p>{{ produit.description }}</p>
    <p>Prix: {{ produit.prix }}</p>
    <p>Référence: {{ produit.references }}</p>

    <!-- Affichage des images du produit -->
    <div>
      <h3>Image Principale:</h3>
      <img *ngIf="produit.image_url" [src]="produit.image_url" alt="{{ produit.nom_produit }}" />
      <div *ngIf="!produit.image_url">
        Aucune image principale disponible pour ce produit.
      </div>
    </div>

    <!-- Affichage des images supplémentaires du produit -->
    <div>
      <h3>Images Supplémentaires:</h3>
      <div *ngIf="produit.images && produit.images.length > 0">
        <img *ngFor="let image of produit.images" [src]="image.url" [alt]="image.alt" />
      </div>
      <div *ngIf="!produit.images || produit.images.length === 0">
        Aucune image supplémentaire disponible pour ce produit.
      </div>
    </div>

    <!-- Affichage des quantités disponibles par magasin -->
    <div *ngFor="let quantite of produit.quantites">
      <p>Magasin: {{ quantite.magasin.nom }}</p>
      <p>Taille: {{ quantite.taille.nom }}</p>
      <p>Couleur: {{ quantite.couleur.nom }}</p>
      <p>Quantité: {{ quantite.quantite }}</p>
    </div>

    <!-- Affichage des tailles disponibles -->
    <div *ngIf="produit.tailles && produit.tailles.length > 0">
      <h3>Tailles Disponibles:</h3>
      <ul>
        <li *ngFor="let taille of produit.tailles">{{ taille.nom }}</li>
      </ul>
    </div>

    <!-- Affichage des couleurs disponibles -->
    <div *ngIf="produit.couleurs && produit.couleurs.length > 0">
      <h3>Couleurs Disponibles:</h3>
      <ul>
        <li *ngFor="let couleur of produit.couleurs">{{ couleur.nom }}</li>
      </ul>
    </div>

    <!-- Affichage des promotions -->
    <div *ngIf="produit.promotion">
      <h3>Promotion:</h3>
      <p>Nom: {{ produit.promotion.nom }}</p>
      <p>Réduction: {{ produit.promotion.pourcentage_reduction }}%</p>
      <p>Date de début: {{ produit.promotion.date_debut | date }}</p>
      <p>Date de fin: {{ produit.promotion.date_fin | date }}</p>
    </div>

    <button (click)="navigateToModifierProduit(produit.id)">Modifier</button>
    <button (click)="supprimerProduit(produit.id)">Supprimer</button>
    <button (click)="navigateToProduitDetails(produit.id)">Plus Détails</button>
  </li>
</ul>

<button (click)="navigateToAjouterProduit()">Ajouter Produit</button>
