/* General container style */
.admin-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* Actions bar styling */
.actions-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Search input styling */
.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Add button styling */
.add-button {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Table styling */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Table header and cell styling */
.admin-table th,
.admin-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-table th {
  background-color: #f2f2f2;
}

/* Actions cell styling */
.actions-cell {
  display: flex;
  gap: 10px;
}

/* Action buttons styling */
.action-button {
  background-color: transparent;
  cursor: pointer;
  color: #007bff;
  font-size: 18px;
  border: none; /* Supprimez la bordure */
  outline: none; /* Supprimez le contour lors de la mise au point */

}

.action-button:hover {
  color: #0056b3;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Pagination buttons styling */
.pagination-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
