@import '../scss/variables';

  .side-nav-content {
    background-color: #f8f8fb;
    height: 99vh;
  }

  .logomain {
      height: 50px;
      padding-bottom: 10px;
  }
    .nav-link {
        color: $color-menu-link;
        padding-left: 1rem;
        padding-right: .5rem;
        display: flex;
        &:hover,
        &.active {
          color: $color-menu-link-secondary;
          font-weight: bold;
        }

        .mat-icon {
            padding-right: 3px;
        }
    }

    .menu-title {
      padding: 16px 16px !important;
      letter-spacing: 0.05em;
      pointer-events: none;
      cursor: default;
      font-size: 11px;
      text-transform: uppercase;
      color: #7f8387;
      font-weight: 600;
    }
