<div class="register-card">
  <h2>Register</h2>
  <form (ngSubmit)="registre()">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" [(ngModel)]="user.nom" name="nom" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" [(ngModel)]="user.prenom" name="prenom" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="genre">Genre:</label>
      <select id="genre" [(ngModel)]="user.genre" name="genre" required class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="date_de_naissance">Date de Naissance:</label>
      <input type="date" id="date_de_naissance" [(ngModel)]="user.date_de_naissance" name="date_de_naissance" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="adresse">Adresse:</label>
      <input type="text" id="adresse" [(ngModel)]="user.Addresse" name="Addresse" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="occupation">Occupation:</label>
      <input type="text" id="occupation" [(ngModel)]="user.occupation" name="occupation" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="etat_social">État Social:</label>
      <input type="text" id="etat_social" [(ngModel)]="user.etat_social" name="etat_social" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="numero_telephone">Numéro de Téléphone:</label>
      <input type="text" id="numero_telephone" [(ngModel)]="user.numero_telephone" name="numero_telephone" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="user_name">Nom d'utilisateur:</label>
      <input type="text" id="user_name" [(ngModel)]="user.user_name" name="user_name" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="image">Image de l'utilisateur:</label>
      <input type="file" id="image" (change)="onFileSelected($event)" class="form-control" />
    </div>
    
    <div *ngIf="errors.length" class="error-list">
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
